version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: incidents
    ports: ["5432:5432"]
  api:
    build: .
    env_file: .env
    depends_on: [db]
    ports: ["8000:8000"]
    command: uvicorn app.entrypoints.api:app --host 0.0.0.0 --port 8000

  #bot:
   # build: ./bot
    #env_file: .env
    #depends_on: [api]
    # restart: unless-stopped   # опционально для dev/prod
